extends layout

block content
    div(class=`card ${cardClass}`)
        h3.title ACME Insurance Co
        div.info-row.name-row
            p.label Name:
            p #{firstName} #{lastName}

        div.info-container
            div.info-row
                p.label Insurance Type:
                p #{type}

            div.info-row
                //getMonth()     Get the month as a number(0-11)
                //Get the day as a number (1-31)
                //getFullYear()     Get the year as a four digit number (yyyy)
                //More details at: https//:w3schools.com/js/js_date_methods.asp
                p.label DOB:
                p #{dateOfBirth.getMonth()+1}/#{dateOfBirth.getDate()}/#{dateOfBirth.getFullYear()}


        div.info-row
            div
                p.label Address:

            div.address-text
                p #{addressLine1}
                p #(addressLine2}
                p #{city}, #{state}, #{zip}

        div.info-container
            div.info-row
                p.label Acct #:
                p #{accountNumber}
            div.info-row
                p.label Exp.:
                //Add 4 years to today's date to get the expiration date
                p #{currentDate.getMonth()+1}/#{currentDate.getDate()}/#{currentDate.getFullYear()+4}

        div.info-container
            div.info-row
                p.label Insurance Policy Began:
                p #{policy.getMonth() + 1}/#{policy.getDate()}/#{policy.getFullYear()}



        a(href='/') Back